<!DOCTYPE html>
<html lang="en">
<head>
    <font style="margin-left:10px;margin-left:400px;font-size:50px;color:white"> STANDARD BANK</font>
    <body style="background-color:white;background-image:url(http://www.healingandtransformation.com/wp-content/uploads/2014/05/bigstock-Sky-and-clouds-background-26443844.jpg);background-size:cover;background-repeat:no-repeat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Withdraw</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li style="background-color:white;font-size:20px">
                    @Html.ActionLink("HOME", "cashieroperation", "cashieroperation")
                </li>
                <li style="background-color:white;font-size:20px">
                    @Html.ActionLink("WITHDRAW", "withdraw", "Cashier")
                </li>
                <li style="background-color:white;font-size:20px">
                    @Html.ActionLink("DEPOSIT", "deposit", "Cashier")
                </li>
                <li style="background-color:white;font-size:20px">
                    @Html.ActionLink("TRANSFER", "#", "#")
                </li>
                <li style="background-color:white;font-size:20px">
                    @Html.ActionLink("VIEW", "cashierView", "Cashier")
                </li>

            </ul>
        </div>
    </nav>
    @RenderBody()
</body>
</html>
